body, html {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 65px 0;
}

header {
  text-align: center;
  padding-top: 10px;
  color: var(--header-text-color);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.bg-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  z-index: 1;
}

.bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  z-index: 1;
}

.pricing-container {
  max-width: 1500px;
  max-height: 2000px;
  padding: 20px;
  text-align: center;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.toggle > span {
  margin: 0 15px;
  color: var(--toggle-text-color);
  font-size: 16px;
}

.toggle input {
  display: none;
}

.toggle label {
  background: var(--toggle-off-gradient);
  border-radius: 50px;
  width: 60px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.toggle label:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--white-color);
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.4s ease, background-color 0.4s ease;
}

.toggle input:checked + label {
  background: var(--toggle-on-gradient);
}

.toggle input:checked + label:before {
  transform: translateX(30px);
  transition-duration: 0.4s;
}

.pricing-plans {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plan {
  background-color: var(--plan-bg-color);
  box-shadow: 15px 20px 30px var(--plan-shadow-color);
  padding: 30px;
  width: 350px;
  height: 450px;
  color: var(--text-color);
}

.plan > h3 {
  font-size: 22px;
}

.plan > p span {
  font-size: 40px;
  vertical-align: 25%;
  margin-right: 10px;
}

.plan:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.plan:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.plan:nth-child(2) {
  height: 500px;
  border-radius: 10px;
  padding: 55px 30px;
  color: var(--white-color);
  background: var(--plan-accent-gradient);
}

.plan:nth-child(2) > .plan-info > p {
  border-color: var(--toggle-text-color);
}

.plan-info > p {
  padding: 15px;
  border-bottom: 1px solid var(--plan-border-color);
  font-size: 15px;
}

.plan-info > p:first-child {
  border-top: 1px solid var(--plan-border-color);
}

.price {
  font-size: 75px;
  font-weight: bold;
  padding: 20px 0;
}

button {
  margin-top: 35px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: var(--button-bg-gradient);
  color: var(--white-color);
  padding: 14px 0;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s ease;
}

button:hover {
  background: var(--plan-hover-gradient);
  color: var(--plan-hover-color);
  border: 1px solid var(--plan-hover-color);
}

.plan:nth-child(2) > button {
  background: var(--plan-hover-gradient);
  color: var(--plan-hover-color);
  border: 1px solid var(--white-color);
}

.plan:nth-child(2) > button:hover {
  background: transparent;
  color: var(--white-color);
}

@media (min-width: 1600px) {

  .price {
    font-size: 85px;
  }

  button {
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }
  .main-container {
    height: max-content;
    padding: 50px 0;
  }

  .pricing-plans {
    flex-direction: column;
    align-items: center;
    min-width: 670px;
  }

  .plan {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .bg-right {
    top: -100px;
    height: 70%;
    width: 35%;
  }
}

@media (max-width: 670px) {
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }
  .main-container {
    height: max-content;
    padding: 50px 0;
  }

  .pricing-plans {
    flex-direction: column;
    align-items: center;
    min-width: 370px;
  }

  .plan {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .bg-right {
    top: -100px;
    height: 70%;
    width: 35%;
  }
}

@media (max-width: 480px) {
  .plan {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .pricing-container {
    padding: 10px;
  }

  .price {
    font-size: 50px;
  }
}
